/* changa */
@import url("https://fonts.cdnfonts.com/css/changa");

/* Fantasque */
@font-face {
  font-family: "Fantasque";
  src: url("https://sixzix.com/assets/fonts/FantasqueSansMNerdFontMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fantasque";
  src: url("https://sixzix.com/assets/fonts/FantasqueSansMNerdFontMono-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fantasque";
  src: url("https://sixzix.com/assets/fonts/FantasqueSansMNerdFontMono-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Fantasque";
  src: url("https://sixzix.com/assets/fonts/FantasqueSansMNerdFontMono-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Hurmit */
@font-face {
  font-family: "Hurmit";
  src: url("https://sixzix.com/assets/fonts/HurmitNerdFontMono-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hurmit";
  src: url("https://sixzix.com/assets/fonts/HurmitNerdFontMono-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hurmit";
  src: url("https://sixzix.com/assets/fonts/HurmitNerdFontMono-Italic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hurmit";
  src: url("https://sixzix.com/assets/fonts/HurmitNerdFontMono-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hurmit";
  src: url("https://sixzix.com/assets/fonts/HurmitNerdFontMono-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hurmit";
  src: url("https://sixzix.com/assets/fonts/HurmitNerdFontMono-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Operator */
@font-face {
  font-family: "Operator";
  src: url("https://sixzix.com/assets/fonts/OperatorMonoLig-Book.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Operator";
  src: url("https://sixzix.com/assets/fonts/OperatorMonoLig-BookItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Operator";
  src: url("https://sixzix.com/assets/fonts/OperatorMonoLig-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Operator";
  src: url("https://sixzix.com/assets/fonts/OperatorMonoLig-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Kachika.ttf */
@font-face {
  font-family: "Kachika";
  src: url("https://sixzix.com/assets/fonts/KACHIKA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* impacto */
@font-face {
  font-family: "Impacto";
  src: url("https://sixzix.com/assets/fonts/impacto.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* publica.otf */
@font-face {
  font-family: "Publica";
  src: url("https://sixzix.com/assets/fonts/publica.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
