@import "root.css";

.page {
  height: 100vh;
  width: 100vw;
  min-height: 750px;
  overflow: hidden;
  font-size: 1rem;
}

.page1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: var(--fg);
}

.divider-page1-2 {
  height: 170px;
  width: 100vw;
  display: block;
  background:
    linear-gradient(to bottom, var(--bg) 15%, var(--alt-bg1) 100%),
    url("../images/wavy-line-1.svg");
  background-blend-mode: overlay;
  background-repeat: repeat-x;
  background-size:
    cover,
    auto 50px;
}

.page2 {
  background-color: var(--alt-bg1);
  color: var(--fg);
  padding: 100px 10vw;
  height: auto;
  width: calc(100% - 20vw);
  overflow: hidden;
}

.page2-card {
  display: flex;
  float: left;
  flex-direction: row;
  width: 550px;
  height: 200px;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to bottom, var(--color3) 25%, var(--alt-bg4) 25%);
  color: var(--fg);
  padding: 40px 20px;
  border-radius: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  box-shadow: 0 0 20px 0 var(--bg);
}

.page2-content {
  font-size: 1.6rem;
  line-height: 1.7;
  word-spacing: 7px;
  font-family: "Publica", sans-serif;
}

.pg2.hurmit {
  font-family: "Hurmit", sans-serif;
  text-shadow: none;
  font-size: 2rem;
  line-height: 1;
  margin-right: 14px;
}

.pg2.go {
  font-size: 3.9rem;
  line-height: 0.2;
  position: relative;
  top: 10px;
  margin-right: 3px;
}

.pg2.tech {
  font-family: "Changa", sans-serif;
  font-size: 2rem;
  line-height: 0.2;
  color: var(--tech);
}

.pg2.web {
  font-family: "Fantasque", sans-serif;
  word-spacing: 0;
  font-size: 1.8rem;
  line-height: 0.2;
  color: var(--color3);
}

.pg2.tui {
  font-family: "Terminal", monospace;
  word-spacing: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 0.2;
  color: var(--color4);
}

.pg2.bash {
  font-family: "Terminal", monospace;
  word-spacing: 0;
  font-size: 1.5rem;
  line-height: 0.2;
  color: var(--fg);
  background-color: var(--bashbg);
}

.pg2.linux {
  font-family: "GelDotica", monospace;
  word-spacing: 0;
  font-size: 1.7rem;
  line-height: 0.2;
  margin-right: 3px;
  color: var(--linux);
}

.pg2.coder {
  font-family: "Terminal", monospace;
  word-spacing: 0;
  font-size: 1.6rem;
  line-height: 0.2;
  margin-right: 3px;
  color: var(--color4);
}

.pg2.batch {
  font-family: "Segoe UI", sans-serif;
  --color-hover: var(--win);
  word-spacing: 0;
  font-size: 1.6rem;
  line-height: 0.2;
  padding: 0 7px;
  background-color: var(--win);
}

.pg2.old {
  font-family: "Beercus", "Times New Roman", Times, serif;
  word-spacing: 0;
  font-size: 1.6rem;
  line-height: 0.2;
}

.pg2.book {
  color: var(--linux);
}

.pg2.hours {
  font-size: 1.6rem;
  padding: 0 7px;
  color: var(--bg);
  background-color: var(--go);
}

.pg2.distros {
  font-family: "Terminal", monospace;
  word-spacing: 0;
  font-size: 1.6rem;
  line-height: 0.2;
  color: var(--alt-bg3);
  --color-hover: var(--win);
  background-color: var(--color3);
}

.pg2.ror {
  font-family: "Changa", sans-serif;
  font-weight: bold;
  word-spacing: 0;
  font-size: 1.2rem;
  padding: 0 7px;
  line-height: 0.2;
  color: var(--alt-bg3);
  background-color: var(--ror);
}

.pg2.go {
  color: var(--go);
}

.pg2.murder {
  font-family: "Were-Beast", sans-serif;
  color: var(--ror);
  --color-hover: var(--ror);
}

.pg2.detective {
  font-family: "Veteran Typewriter", serif;
  color: var(--df);
  --color-hover: var(--df);
}

.pg2.ac {
  color: var(--linux);
}

.pg2.ls {
  font-family: "Funky Foodie Doodie", sans-serif;
  font-weight: bold;
  color: var(--color3);
  --color-hover: var(--color3);
}

.pg2.nvim {
  font-family: "Terminal", monospace;
  word-spacing: 0;
  font-size: 1.6rem;
  line-height: 0.2;
  margin-right: 3px;
  color: var(--nvim);
}

.pg2.sysadmin {
  font-family: "Terminal", monospace;
  word-spacing: 0;
  font-size: 1.6rem;
  line-height: 0.2;
  margin-right: 3px;
  color: var(--ror);
}

.pg2.ms {
  font-family: "Minesweeper", monospace;
  word-spacing: 0;
  font-size: 1.2rem;
  line-height: 0.2;
  margin-right: 3px;
  text-shadow:
    3px 3px 0 var(--color2),
    -3px -3px 0 var(--color2),
    3px -3px 0 var(--color2),
    -3px 3px 0 var(--color2);
  color: var(--ms);
  --color-hover: var(--color2);
}

.pg2.ms-star {
  text-shadow: none;
  color: var(--color2);
}

.pg2.student {
  font-family: "Beercus", "Times New Roman", Times, serif;
  word-spacing: 0;
  font-size: 1.6rem;
  line-height: 0.2;
  margin-right: 3px;
  color: var(--ror);
  --color-hover: var(--ror);
}

.pg2.ms .pg2.hurmit {
  color: var(--fg);
}

.page2-content p {
  margin-top: 0;
}

.card-icon {
  font-size: 9rem;
  margin: 0 20px;
  padding: 0;
  padding-right: 20px;
  border-right: 1px solid var(--fg);
}

.hover {
  position: relative;
  cursor:
    url("../images/cursor_pointer.svg") 16 16,
    pointer;
  text-decoration: none;
  --color-hover: var(--color4);
}

.pg2.hror::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 7px;
  background: url("../images/wavy-line-1.svg") repeat-x;
  background-size: contain;
  display: block;
  z-index: 99;
}

.pg2.htui::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 7px;
  background: url("../images/wavy-line-2.svg") repeat-x;
  background-size: contain;
  display: block;
  z-index: 99;
}

.pg2.hl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 7px;
  background: url("../images/wavy-line-4.svg") repeat-x;
  background-size: contain;
  display: block;
  z-index: 99;
}

.pg2.hb::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 7px;
  background: url("../images/dashed-line-1.svg") repeat-x;
  background-size: contain;
  display: block;
  z-index: 99;
}

.pg2.hwin::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background: url("../images/dashed-line-3.svg") repeat-x;
  background-size: contain;
  display: block;
  z-index: 99;
}

.hover-lined:hover::after {
  display: none;
}

.hover-lined {
  position: relative;
  cursor:
    url("../images/cursor_pointer.svg") 16 16,
    pointer;
  text-decoration: none;
}

.hover-sys:hover::before {
  opacity: 1;
  visibility: visible;
}

.hover-sys::before {
  content: "";
  height: 230px;
  width: 600px;
  background: url("https://imgs.xkcd.com/comics/devotion_to_duty.png");
  background-size: 610px auto;
  border-radius: 10px;
  border: 3px solid var(--ror);
  visibility: hidden;
  opacity: 0;
  background-position: -3px -3px;
  display: block;
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

a.pg2 {
  text-decoration: none;
}

.hover::before {
  content: attr(data-hover);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: color-mix(in srgb, var(--color-hover) 15%, transparent);
  backdrop-filter: blur(10px);
  color: var(--fg);
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  z-index: 9999;
  text-shadow: none;
  font-family: "Changa", sans-serif, "Hurmit";
  font-weight: normal;
  text-transform: none;
  line-height: 1;
}

.hover:hover::before {
  opacity: 1;
  visibility: visible;
}

.card-elems {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--fg);
  margin-bottom: 15px;
  position: relative;
  top: -10px;
  font-family: "Kachika", sans-serif;
}

.page2-card-elem {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}

.card-elem-title {
  font-weight: bold;
  color: var(--color3);
  font-family: "Publica", sans-serif;
}

.card-elem-data {
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  font-size: 3rem;
  top: 0px;
  left: 0px;
  width: calc(100% - 40px);
  transition: all 0.5s ease-in-out;
  height: 80px;
  background-color: var(--bg);
  padding: 0 20px;
  color: var(--fg);
}

.header.scrolled {
  backdrop-filter: blur(10px);
  top: 20px;
  left: 40px;
  width: calc(100% - 120px);
  height: 80px;
  padding: 0 20px;
  background-color: color-mix(in srgb, var(--fg) 5%, transparent);
  border-radius: 50px;
}

.links {
  display: flex;
  float: right;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.waves-container {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}

.wave {
  height: 60px;
  margin-top: 40px;
  background-repeat: repeat-x;
  animation: move-wave-left 5s linear infinite;
  background-size: auto 10px;
  background-position: bottom;
}

.wave1 {
  background-image: url("../images/wavy-line-1.svg");
}

.wave2 {
  background-image: url("../images/dashed-line-3.svg");
  animation: move-wave-right 5s linear infinite;
}

.wave3 {
  background-image: url("../images/wavy-line-2.svg");
}

.wave4 {
  background-image: url("../images/wavy-line-3.svg");
  animation: move-wave-right 5s linear infinite;
}

@keyframes move-wave-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -354px 0;
  }
}

@keyframes move-wave-right {
  0% {
    background-position: -354px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.name {
  padding: 5px;
}

.name-txt {
  width: 500px;
  z-index: 99;
  background-color: color-mix(in srgb, var(--color1) 5%, transparent);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
}

.greeting {
  font-size: 2rem;
  font-family: "Publica", sans-serif;
  color: var(--fg);
  width: 100%;
  text-align: left;
  padding-left: 30px;
  line-height: 1.3;
}

.firstname {
  margin-left: 10px;
  font-size: 10rem;
  height: 178px;
  display: flex;
  justify-content: center;
  color: var(--color4);
  align-items: center;
  gap: 30px;
}

.firstname .name {
  font-family: "impacto", sans-serif, "Hurmit";
  width: max-content;
  cursor:
    url("../images/cursor_pointer.svg") 16 16,
    pointer;
  position: relative;
  text-shadow:
    4px 4px 0 var(--bg),
    -4px -4px 0 var(--bg),
    4px -4px 0 var(--bg),
    -4px 4px 0 var(--bg);
  background-image: url("../images/caution-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color2);
  line-height: 0.9;
}

.firstname .name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 10px;
  background: url("../images/wavy-line-1.svg") repeat-x;
  background-size: contain;
  z-index: 99;
}

.firstname .name:hover::after {
  background: none;
}

.lastname {
  margin-left: 40px;
  line-height: 0.9;
  font-size: 6rem;
  width: max-content;
  font-family: "Publica", sans-serif;
  text-shadow:
    4px 4px 0 var(--bg),
    -4px -4px 0 var(--bg),
    4px -4px 0 var(--bg),
    -4px 4px 0 var(--bg);
  color: var(--color3);
  cursor:
    url("../images/cursor_pointer.svg") 16 16,
    pointer;
  position: relative;
}

.lastname::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 20px;
  background: url("../images/dashed-line-3.svg") repeat-x;
  background-size: contain;
  z-index: 99;
}

.lastname:hover::after {
  background: none;
}

.scroll-tip {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  cursor:
    url("../images/cursor_pointer.svg") 16 16,
    pointer;
}

.scroll-tip .icon-nerd {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--color1);
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-tip .tip {
  font-size: 1.2rem;
  line-height: 1;
  font-family: "Publica", sans-serif, "Hurmit";
  color: var(--fg);
  background-color: color-mix(in srgb, var(--color1) 5%, transparent);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
}

.bg-logos {
  height: calc(100vh - 40px);
  width: 100vw;
  min-height: 750px;
  position: absolute;
  top: 70px;
}

.page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  min-height: 750px;
  background-color: var(--alt-bg4);
  color: var(--fg);
}

.skills-text {
  font-size: 5rem;
  font-family: "Kachika", sans-serif, "Hurmit";
  color: var(--fg);
  position: relative;
  top: 30px;
  margin-bottom: 10px;
}

.exp-tooltip {
  position: fixed;
  top: 20px;
  left: 0;
  width: max-content;
  height: min-content;
  display: flex;
  background-color: color-mix(in srgb, var(--alt-bg1) 70%, transparent);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 15px;
  border: 2px solid var(--color3);
  gap: 10px;
  text-shadow: none;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  line-height: 1;
  color: var(--fg);
  z-index: 9999;
  cursor:
    url("../images/cursor.svg") 16 16,
    default;
  transition: opacity 0.5s ease-in-out;
  font-family: "Changa", sans-serif, "Hurmit";
}

.exp-tooltip.hidden {
  opacity: 0;
  pointer-events: none;
}

.tooltip-flex-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 15px;
  margin-bottom: 7px;
  gap: 30px;
}

.exp-tooltip ol {
  margin: 7px;
}

.exp-tooltip-text {
  margin-left: 15px;
}

.dict-icon {
  font-size: 3rem;
  color: var(--color3);
}

.dict-type {
  font-family: "Publica", sans-serif, "Hurmit";
  margin: 0;
  color: var(--fg);
}

.arabic {
  font-family: "Noto Sans Arabic", serif, "Hurmit";
}

.persian {
  font-family: "Noto Nastaliq Urdu", serif, "Hurmit";
  line-height: 0.2;
}

.title-title {
  font-family: "Changa", sans-serif, "Hurmit";
  font-size: 2rem;
  text-align: left;
  margin: 0;
  line-height: 1.2;
}

.exp-tooltip-divider {
  width: 100%;
  height: 2px;
  background-color: var(--color3);
  color: var(--color3);
}

.exp-tooltip-title {
  font-family: "Operator", sans-serif, "Hurmit";
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  color: var(--fg);
}

.logo {
  position: absolute;
  border-radius: 14px;
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  background-color: color-mix(in srgb, var(--logo-color) 50%, transparent);
  box-shadow: 0 0 40px 0 color-mix(in srgb, var(--logo-color) 60%, transparent);
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transition:
    opacity 0.7s ease-in-out,
    background-color 0.25s ease-in-out;
  cursor:
    url("../images/cursor_pointer.svg") 16 16,
    pointer;
}

.logo:hover {
  opacity: 1;
  background-color: color-mix(in srgb, var(--logo-color) 80%, transparent);
}

.logo.bg {
  height: 50px;
  width: 50px;
}

.logo .icon {
  fill: var(--fg);
  height: 50px;
  width: 50px;
}

.logo.bg .icon {
  height: 30px;
  width: 30px;
}

.what-i-am {
  float: right;
  font-size: 1.7rem;
  padding-top: 15px;
  height: 30px;
  font-family: "Terminal", monospace, "Hurmit";
  color: var(--fg);
}

.what-i-am .key-cursor {
  font-weight: bold;
}

#what-i-am {
  padding-right: 3px;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.key-cursor {
  animation: blink-animation 1s steps(1, end) infinite;
}
