@import url("./fonts.css");

* {
  font-family: "FantasqueSansMNerdFontMono";
  color: white;
  font-size: 25px;
  line-height: 97%;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: #190d37;
  background-image: url(https://picsum.photos/1920/1080);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #090020b7;
  z-index: -1;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

label {
  height: 99vh;
  width: 99vw;
}

.center {
  width: 745px;
  padding: 25px;
  background-color: #09002085;
  border-radius: 30px;
  margin-bottom: 20px;
}

/*
    Header:
*/
.banner {
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.styled-pink {
  color: #ff79c6;
  font-size: inherit;
}

/*
    Search Bar:
*/
.quote-container {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.quote {
  text-align: center;
  display: block;
  font-size: 20px;
  font-family: "OperatorMonoLig";
  font-style: italic;
  width: 100%;
  font-weight: bold;
  padding-bottom: 10px;
}

.quote::before {
  content: "\201C";
}

.quote::after {
  content: "\201D";
}

.author {
  text-align: right;
  display: block;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  font-weight: light;
}

.author::before {
  content: "~ ";
}

.searchbar {
  background-color: #191930;
  color: white;
  padding: 20px;
  padding-left: 35px;
  border-radius: 20px;
  border: 1px solid grey;
}

/*
    Prompt:
*/
.searchbar * {
  color: white;
}

.ln {
  color: #fa3c3c;
}

.uname {
  color: #bfa5e2;
  font-weight: bolder;
}

.hostname {
  color: #f1b950;
  font-weight: bolder;
}

.repo {
  color: #ff79c6;
  font-weight: bolder;
}

.branch {
  color: #4ae673;
  font-weight: bolder;
}

.search {
  background-color: #0000;
  color: white;
  border: none;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  caret-color: #4ae673;
  width: calc(100% - 100px);
  display: inline;
}

.search:focus {
  outline: none;
  box-shadow: none;
}

/*
    Links:
*/
.links {
  width: 100%;
}

table * {
  font-family: "HurmitNerdFont";
}

th {
  height: 50px;
}

td {
  width: 33.33%;
  padding: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}
