@import url("./fonts.css");

:root {
  --bg: #100f18;
  --fg: #ffffff;
  --color1: #a74ffe;
  --color2: #00ffff;
  --color3: #ff2222;
  --color4: #00ff00;
  --sup1: #1e1e1e;
  --sup2: #191825;
  --alt-bg1: #1c1230;
  --alt-bg2: #102720;
  --alt-bg3: #2a0917;
  --alt-bg4: #261a40;
  --tech: #ffff00;
  --bashbg: #000000;
  --linux: #fcc624;
  --win: #08a1f7;
  --go: #43d9ff;
  --ror: #ff0000;
  --df: #ff5f1f;
  --ms: #323232;
  --nvim: #69b753;
}

html {
  font-size: 16px;
  font-family: "Changa", sans-serif, "Hurmit";
}

body {
  padding: 0;
  margin: 0;
  cursor:
    url("../images/cursor.svg") 16 16,
    auto;
}

::selection {
  background-color: var(--color2);
  color: var(--bg);
}

::-moz-selection {
  background-color: var(--color2);
  color: var(--bg);
}
