/* FantasqueSansMNerdFont */
@font-face {
  font-family: "FantasqueSansMNerdFont";
  src: url("./fonts/FantasqueSansMNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FantasqueSansMNerdFont";
  src: url("./fonts/FantasqueSansMNerdFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FantasqueSansMNerdFont";
  src: url("./fonts/FantasqueSansMNerdFont-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FantasqueSansMNerdFont";
  src: url("./fonts/FantasqueSansMNerdFont-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* FantasqueSansMNerdFontMono */
@font-face {
  font-family: "FantasqueSansMNerdFontMono";
  src: url("./fonts/FantasqueSansMNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FantasqueSansMNerdFontMono";
  src: url("./fonts/FantasqueSansMNerdFontMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FantasqueSansMNerdFontMono";
  src: url("./fonts/FantasqueSansMNerdFontMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FantasqueSansMNerdFontMono";
  src: url("./fonts/FantasqueSansMNerdFontMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* HurmitNerdFont */
@font-face {
  font-family: "HurmitNerdFont";
  src: url("./fonts/HurmitNerdFont-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HurmitNerdFont";
  src: url("./fonts/HurmitNerdFont-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HurmitNerdFont";
  src: url("./fonts/HurmitNerdFont-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "HurmitNerdFont";
  src: url("./fonts/HurmitNerdFont-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "HurmitNerdFont";
  src: url("./fonts/HurmitNerdFont-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HurmitNerdFont";
  src: url("./fonts/HurmitNerdFont-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* HurmitNerdFontMono */
@font-face {
  font-family: "HurmitNerdFontMono";
  src: url("./fonts/HurmitNerdFontMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HurmitNerdFontMono";
  src: url("./fonts/HurmitNerdFontMono-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HurmitNerdFontMono";
  src: url("./fonts/HurmitNerdFontMono-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "HurmitNerdFontMono";
  src: url("./fonts/HurmitNerdFontMono-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "HurmitNerdFontMono";
  src: url("./fonts/HurmitNerdFontMono-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HurmitNerdFontMono";
  src: url("./fonts/HurmitNerdFontMono-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* OperatorMonoLig */
@font-face {
  font-family: "OperatorMonoLig";
  src: url("./fonts/OperatorMonoLig-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OperatorMonoLig";
  src: url("./fonts/OperatorMonoLig-BookItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OperatorMonoLig";
  src: url("./fonts/OperatorMonoLig-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OperatorMonoLig";
  src: url("./fonts/OperatorMonoLig-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
